<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xyl</display-name>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentServlet</display-name>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>web.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>web.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlServlet</display-name>
    <servlet-name>AddPlServlet</servlet-name>
    <servlet-class>web.AddPlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlServlet</servlet-name>
    <url-pattern>/addpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeftServlet</display-name>
    <servlet-name>LeftServlet</servlet-name>
    <servlet-class>web.LeftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeftServlet</servlet-name>
    <url-pattern>/admin/left</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>web.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/admin/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>web.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/admin/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingServlet</display-name>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>web.SettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/admin/setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>web.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/admin/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>web.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/admin/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/admin/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBlogServlet</display-name>
    <servlet-name>EditBlogServlet</servlet-name>
    <servlet-class>web.EditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBlogServlet</servlet-name>
    <url-pattern>/admin/editBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>web.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/admin/quit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
<welcome-file-list>
  <welcome-file>index</welcome-file> 
  </welcome-file-list>
<error-page>
	<error-code>404</error-code>
	<location>/404.htm</location>
</error-page>
</web-app>